.list-item {
  border-radius: 50px !important;
}

.list-item.active {
  background-color: #262626 !important;
  color: #fffba1 !important;
}

.list-item.active svg {
  color: #fffba1 !important;
}

.linkUI > a {
  text-decoration: none !important;
  color: inherit;
}

@media screen and (min-width: 480px) {
  .listBorder {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
