.list-item {
  border-radius: 50px !important;
}

.list-item.active {
  background-color: #262626 !important;
  color: #fffba1 !important;
}

.list-item.active svg {
  color: #fffba1 !important;
}

.linkUI > a {
  text-decoration: none !important;
  color: inherit;
}

.menu-items > div.MuiPaper-root {
  background-color: #262626;
  color: white;
}

@media screen and (min-width: 600px) {
  .listBorder {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.yellow {
  color: #fffba1;
}

.fontSize {
  font-size: 40px !important;
}

.calendarSpacing {
  margin-right: 0.5em;
}

.year {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fffba1;
  border-radius: 50px;
  padding: 5px 15px;
  color: #262626;
}

.year svg {
  color: #262626;
}
